<footer th:fragment="footer">
    <section class="footerbar">
        <!--        <img class="footer_bg" src="/img/bg06.png" alt="footer_bg">-->
        <section class="footer_logo">
            <a href="index.html"><img src="/images/logo_02.png" alt="header_logo" title="logo" aria-label="logo"></a>
        </section>
        <section class="footerbar_navbar">
            <a class="active" href="index.html"><i class="fa fa-fw fa-home"></i> 首頁</a>
            <a href="about.html"><i class="fa fa-fw fa-user"></i> 關於我們</a>
            <a href="petlist.html"><i class="fa fa-fw fa-paw"></i> 給牠個家</a>
            <a href="news.html"><i class="fa fa-fw fa-newspaper"></i> 最新消息</a>
            <a href="shopping.html"><i class="fa fa-fw fa-shop"></i> 周邊商品</a>
            <a href="problem.html"><i class="fa fa-fw fa-clipboard-question"></i> 常見問題</a>
        </section>
        <div class="connection">
            <span>服務專線：0900-000000</span>
            <span>電子信箱：abc@gmail.com </span>
            <span>地址：台灣台中市西區XXX路XXX巷XX號</span>
        </div>
        <p class="copyright">Copyright © 2024 Pet Map Pank</p>
        <div class="line-div"></div>
    </section>

</footer>